@import 'partials/fonts';

html {
    body {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;

        header {
            text-align: center;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .wrapper {
                display: flex;
                justify-content: center;
                margin: 1rem 0.5rem;

                .images-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 11px;
                    }

                }

            }

            .iframe-wrapper {
                text-align: center;
            }

            article {
                padding: 1rem;

                section {
                    ul {
                        li {
                            a {
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}