@import 'partials/colors';
@import 'partials/fonts';

html {
    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Inter', sans-serif;
        background-color: $c4;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 8px;
            height: 75px;
            -webkit-box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            -moz-box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            padding: 3px 15px;

            h1 {
                padding: 0;
                margin: 0;
            }

            color:$c1;
            background-color: $c3;
        }

        .container>.row>.col>* {
            margin: 10px;
        }

        .row.row-cols-1.gap-2>.col>* {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        @media (max-width:600px) {
            .row-cols-3>* {
                width: 100%;
            }

            h2 {
                font-size: small;
            }
        }
    }
}