@import 'partials/colors';
@import 'partials/fonts';

html {

    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Inter', sans-serif;
        background-color: $c4;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 8px;
            height: 75px;
            box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            -webkit-box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            -moz-box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.40);
            padding: 3px 15px;

            h1 {
                padding: 0;
                margin: 0;
            }

            color:$c1;
            background-color: $c3;
        }

        div.container {
            height: 50vh;
            display: flex;
            flex-direction: column;

            div.section-container {
                text-align: center;
                padding: 1rem;
                display: inline-flex;
                flex-direction: column;

                div.button-container {
                    height: 100%;
                    margin: 0.5rem;
                    gap: 10px;
                    display: inline-flex;
                    justify-content: center;

                    a {
                        border: solid 0.01px $c3;
                        padding: 0.5rem;
                        color: $c3;
                        text-decoration: none;
                        border-radius: 5px;

                        &:visited {
                            color: $c3;
                        }

                        &:hover {
                            color: $c3;
                            border: solid 0.01px $c1;

                        }
                    }
                }

                h4 {
                    color: $c3;
                    margin: 0;
                    padding: 1rem;
                }


            }
        }
    }
}