html body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
html body nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 675px) {
  html body nav {
    flex-direction: row;
    justify-content: space-around;
  }
  html body nav .li-nav-items {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
  }
}
html body nav img {
  margin: 4px;
  width: 100px;
}
html body nav ul.li-nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 675px) {
  html body nav ul.li-nav-items {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
  }
}
html body nav ul.li-nav-items li {
  padding: 3px;
}
@media (min-width: 675px) {
  html body nav ul.li-nav-items li {
    padding: 10px;
  }
}
html body nav ul.li-nav-items li a {
  text-decoration: none;
}
html body nav ul.li-nav-items li a.create-post-btn {
  background-color: #ff5a5f;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.2rem;
}
html body header {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: flex-start;
  background: url("../assets/css-4/Sunset.jpg");
  background-size: cover;
}
html body header div.header-content {
  text-align: center;
  padding: 10px;
}
html body header div.header-content h1 {
  font-size: 5rem;
  padding: 30px;
  color: #14213d;
}
html body header div.header-content p {
  margin: 40px;
  line-height: 1.4rem;
  color: #333;
}
html body header div.header-content p ~ a {
  padding: 15px 20px;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  color: #333;
}
html body section.container-flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1900px;
}
@media (min-width: 675px) {
  html body section.container-flex {
    flex-direction: row;
  }
}
html body section.container-flex main {
  padding: 10px;
}
@media (min-width: 675px) {
  html body section.container-flex main {
    width: 70%;
  }
}
html body section.container-flex main article.post-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
html body section.container-flex main article.post-content p.post-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #14231d;
}
html body section.container-flex main article.post-content span.post-author {
  margin: 10px;
}
html body section.container-flex aside.sidebar {
  padding: 10px;
}
@media (min-width: 675px) {
  html body section.container-flex aside.sidebar {
    width: 30%;
  }
}
html body section.container-flex aside.sidebar .about-me {
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
html body section.container-flex aside.sidebar .about-me img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
html body section.container-flex aside.sidebar article.post-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
html body section.container-flex aside.sidebar article.post-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #14213d;
}
html body footer {
  background-color: #003049;
  color: #fff;
}
html body footer div.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body footer div.about h1 .logo-text {
  font-size: 4.5rem;
  font-weight: bold;
  color: #ffbe0b;
}
html body footer div.about h1 .logo-text ~ span {
  color: #fff;
}
html body footer div.about h1 ~ p {
  color: #8d99ae;
}
html body footer div.about .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
html body footer div.about .contact span {
  font-size: 30px;
  padding: 10px;
}
html body footer div.about .contact span a {
  text-decoration: none;
  color: #0077b6;
  font-size: 30px;
}
html body footer div.about .socials {
  margin-bottom: 10px;
}
html body footer div.about .socials a {
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #fcbf49;
}/*# sourceMappingURL=mobile.css.map */