// color pallete
$c1: #FBD46D;
$c2: #4F8A8B;
$c3: #222831;
$c4: #EEEEEE;


//pallete for css exer

$one: #222831;
$two: #393E46;
$three: #FFD369;
$four: #EEEEEE;
$wildcard1: #FF7EBC;
$wildcard2: #00D8FF;
$wildcard3: #C2FCF2;